ul.list{
    list-style-type: none;
    margin: 0;
    
    border-bottom: 1px solid #ccc;
}
ul.list::after{
    content: '';
    display: block;
    clear: both;
}
.tab-button{
    display: block;
    padding: 10px 20px 10px 20px;
    float: left;
    margin-right: -1px;
    color: grey;
    text-decoration: none;
    cursor: pointer;
}
.table-button:hover{
    color: saddlebrown;
}
.orange{
    border-top: 2px solid orange;
    border-right: 1px solid #ccc;
    border-bottom: 2px solid white;;
    border-left: 1px solid #ccc;

}
.tab-content{
    display: none;
    padding: 10px;
}
.show{
    display: block;
}